.list {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-bottom: 1px solid #ccc;
}
.list:hover {
  padding: 0.1rem;
  border-bottom: 2px solid;
}
.list h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}
.list a {
  text-decoration: none;
}
